.cabeçalho{background-color: black;color: aqua; display:flex; justify-content:space-around; align-items: center;}
.imagem-logo{width:20%}
.cabeçalho-lista-item{display:inline-block;margin:0 16px;font: size 20px;}
.cabeçalho-lista-item{display: inline-block;}
.futebol-imagem{width: 25%;}
.roupa
    background-image: linear-gradient(#223232, #2d9);
    color:white;
    display: flex;
    justify-content: center;
    aling-items: center;
    padding: 24px 0;}
.futebol-div-conteudo{width:45%;}
.futebol-titulo{padding: 30%px 0;} 

.campo{padding: 24px 0;}

.campo-imagem{ width: 140px;}

.campo-div{
    text-align: center;
    padding: 50px 0; }

    .campo-titulo{
        text-align: center;
        padding: 50px 0;
        color:#ffffff;
    }

    .campo-todos{
        display: grid;ar(--fonte-principal);
        font-size: 14px;
        font-weight: 400;
        text-aling: center;
        color: rgb(255, 255, 255);
        background-position: 1em;
    }
    @media screen and (min-width: 1024px) {
        .banner_titulo
        grid-template-columns: 20% 20% 20% 20%;
    }

    .campo-nome {color: #ffffff;}

    .rodape{
        background-color: #3a6852;
        color: #ffffff;
        text-align: center;
    }

.contato {
    background-color:#2d9e49;

}
.contato_titulo{
    color: #ffffff; display: flex; justify-content: space-around; aling-items: center;
}

.contato_texto { color: #ffffff;
}
.contato_email {
    padding: 1em;
    border: 1px solid;
    border-radius: 24px;
    width: 90%;
}
.banner_pequisa {
    background-color: transparente;
    border: 1px solid;
    color:black;
    border-radius: 24px;
    padding: 1em;
    width: 100%
    .banner_pesquisa::placeholder {
        font-family: var(--fonte-principal);
        font-size: 14px;
        font-weight: 400;
        text-aling: center;
        color: rgb(255, 255, 255);
        background-position: 1em;
    }
    @media screen and (min-width: 1024px) {
        .banner_titulo {
             font-size: 36px;
}

      .banner_pesquisa {
        width: 50%;
  }

     .banner_pesquisa:placeholder {
        background-position: 7em;
    }

}
    @media screen and (min-width: 1728px) {
        .banner_pesquisa {
            width: 35%;

    }

        .banner {
            padding: 6em 0;
        }

        
    }